# -- Virtual Enviroinment --
.venv/

# -- IDE Settings --
.cursor/
.vscode/
.claude/

# -- Environment Variables --
.env

# -- Python --
__pycache__/
*.egg-info/

# -- Package Manager --
uv.lock

# -- Plan --
plan.pdf
plan_v2.pdf

# -- logs --
logs/

# -- Worktrees --
.worktrees/

# -- Apple --
.DS_Store

# -- ADK --
.adk/

# -- Tests --
tests/

# -- Docs --
docs/

# -- Interactive Demo --
interactive/
