# -- Virtual Enviroinment --
.venv/

# -- IDE Settings --
.cursor/
.vscode/

# -- Environment Variables --
.env

# -- Python --
__pycache__/
*.egg-info/

# -- Plan --
plan.pdf
plan_v2.pdf

# -- logs --
logs/

# -- Apple --
.DS_Store

