# -- Environment Variables --
python-dotenv

# -- Data Validation --
pydantic

# -- Search --
ddgs

# -- LangGrapg --
langgraph

# -- LangChain --
langchain
langchain-community

## -- MCP --
langchain-mcp-adapters

## -- LLMs --
langchain-groq
