# -- Environment Variables --
python-dotenv

# -- Data Validation --
pydantic

# -- LangChain --
langchain
langchain-community

## -- MCP --
langchain-mcp-adapters

# -- Search --
ddgs

## -- LLMs --
langchain-groq
